.breadcrumbs {
    display: flex;
    align-items: center;
    gap: 8px;
    color: black;
    font-size: 10px;
    font-weight: 400;
    margin: 60px 170px;
    text-transform: capitalize;
}
@media(max-width: 500px) {
    .breadcrumbs {
        margin: 20px;
    }
}