.related {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 90vh;
    padding-top: 90px;
    background-color: rgb(220, 85, 55);
    margin-bottom: -50px;
}
.related h1 {
    color: black;
    font-size: 50p;
    font-weight: 600;
}
.related hr {
    width: 200px;
    height: 6px;
    border-radius: 10px;
    border: none;
    background: black;
}
.related-item {
    margin-top: 50px;
    display: flex;
    gap: 30px;
}