.product-display {
    display: flex;
    margin: 0px 100px;
}
.display-left{
    display: flex;
    gap: 17px;
}
.display-image-list {
    display: none;
    flex-direction: column;
    gap: 16px;
}
.display-image-list img {
    height: 163px;
}
.display-main {
    width: 586px;
    height: 650px;
}
.display-right {
    margin: 0px 70px;
    display: flex;
    flex-direction: column;
}
.display-right h1 {
    color: black;
    font-size: 40px;
    font-weight: 700;
}
.display-right-star {
    display: flex;
    align-items: center;
    margin-top: 13px;
    gap: 5px;
    color: black;
    font-size: 16px;
}
.right-prices {
    display: flex;
    margin: 40px 0px;
    gap: 30px;
    font-size: 24px;
    font-weight: 700;
}
.right-old-price {
    color: black;
    text-decoration: line-through;
}
.right-new-price {
    color: rgb(220, 85, 55);
}
.display-right-size h1 {
    margin-top: 55px;
    color: #656565;
    font-size: 20px;
    font-weight: 600;
}
.right-size {
    display: flex;
    margin: 30px 0px;
    gap: 20px;
}
.right-size div {
    padding: 18px 24px;
    background: #fbfbfb;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    cursor: pointer;
}
.display-right button {
    padding: 20px 40px;
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background: rgb(220, 85, 55);
    margin-bottom: 40px;
    border: none;
    outline: none;
    cursor: pointer;
}
.display-right .right-category {
    margin-top: 10px;
}
.display-right .right-category span {
    font-weight: 600;
}
.right-description {
    padding-bottom: 30px;
}

@media(max-width: 1300px) {
    .product-display {
        margin: 0px 100px;
        flex-direction: column;
    }
    .display-image-list {
        display: none;
    }
    .display-main {
        padding-bottom: 50px;
    }
}

@media(max-width: 1000px) {
    .product-display {
        margin: 20px;
        flex-direction: column;
    }
    .display-left{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
    .display-image-list {
        margin: 0px;
        padding: 0px;
        display: none;
        align-items: center;
        flex-direction: row;
        justify-content: center;
        gap: 80px;
        padding-bottom: 70px;
    }
    .display-main {
        margin: 0px 140px;
    }
    .right-size div {
        padding: 20px;
    }
    .display-right h1 {
        color: black;
        font-size: 18px;
        font-weight: 700;
    }
    .right-size div {
        padding: 16px 20px;
    }

}

@media(max-width: 500px) {
    .product-display {
        margin: 20px;
        flex-direction: column;
    }
    .display-left{
        display: flex;
        flex-direction: column-reverse;
    }
    .display-image-list {
        margin: 0px -10px;
        padding: 10px;
        display: none;
        align-items: center;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        gap: 4px;
    }
    .display-image-list img {
        padding: 0px;
        width: 34%;
        gap: 2px;
    }
    .display-main {
        width: 100%;
        height: 450px;
        padding: 0px;
        margin: 0px;
    }
    .display-right {
        margin: 0px;
        margin-top: 100px;
    }
    .right-size {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .right-size div {
        padding: 20px;
    }
    .display-right h1 {
        color: black;
        font-size: 18px;
        font-weight: 700;
    }
    .right-size div {
        padding: 16px 20px;
    }

}