.product-display {
    display: flex;
    margin: 0px 100px;
}
.display-left{
    display: flex;
    gap: 17px;
}
.display-image-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.display-image-list img {
    height: 163px;
}
.display-main {
    width: 586px;
    height: 700px;
}
.display-right {
    margin: 0px 70px;
    display: flex;
    flex-direction: column;
}
.display-right h1 {
    color: black;
    font-size: 40px;
    font-weight: 700;
}
.display-right-star {
    display: flex;
    align-items: center;
    margin-top: 13px;
    gap: 5px;
    color: black;
    font-size: 16px;
}
.right-prices {
    display: flex;
    margin: 40px 0px;
    gap: 30px;
    font-size: 24px;
    font-weight: 700;
}
.right-old-price {
    color: black;
    text-decoration: line-through;
}
.right-new-price {
    color: rgb(220, 85, 55);
}
.display-right-size h1 {
    margin-top: 55px;
    color: #656565;
    font-size: 20px;
    font-weight: 600;
}
.right-size {
    display: flex;
    margin: 30px 0px;
    gap: 20px;
}
.right-size div {
    padding: 18px 24px;
    background: #fbfbfb;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    cursor: pointer;
}
.display-right button {
    padding: 20px 40px;
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background: rgb(220, 85, 55);
    margin-bottom: 40px;
    border: none;
    outline: none;
    cursor: pointer;
}
.display-right .right-category {
    margin-top: 10px;
}
.display-right .right-category span {
    font-weight: 600;
}