.cartitems {
    margin: 100px 170px;
    background-color: rgb(216, 215, 210);
}
.cartitems hr {
    height: 3px;
    background: rgb(220, 85, 55);
    border: 0;
}
.format-main {
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 75px;
    padding: 20px 0px;
    color: #454545;
    font-size: 18px;
    font-weight: 600;
}
.format {
    font-size: 17px;
    font-weight: 500;
}
.product-icon {
    height: 62px;
}
.remove-icon {
    width: 15px;
    margin: 0px 40px;
    cursor: pointer;
}
.quantity {
    width: 64px;
    height: 50px;
    background: white;
    border: none;
}
.cart-items-down {
    display: flex;
    margin: 100px 0px;    
}
.cart-items-total {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 200px;
    gap: 40px;
}
.total-items {
    display: flex;
    justify-content: space-between;
    padding: 15px 0px;
}
.cart-items-total button {
    width: 262px;
    height: 58px;
    outline: none;
    border: none;
    background: rgb(220, 85, 55);
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}
.promo {
    flex: 1;
    font-size: 16px;
    font-weight: 500;
}
.promo p {
    color: #454545;
}
.promo-box {
    margin-top: 15px;
    padding-left: 20px;
    height: 58px;
    background: #eaeaea;
}
.promo-box input {
    border: none;
    outline: none;
    background: transparent;
    font-size: 16px;
    height: 30px;
}
.promo-box button {
    width: 135px;
    height: 58px;
    font-size: 16px;
    background: black;
    color: white;
    cursor: pointer;
    outline: none;
    border: none;
}
.error {
    color: rgb(220, 85, 55);
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
    animation: shake 0.3s ease-in-out;
  }
  
  @keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
  }
  .payments {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
@media (max-width: 1300px) {
    .cartitems {
        margin: 20px;
    }
    .format {
        display: grid;
    }
    .remove-icon {
        margin: 0px 13px;
    }
    .cart-items-down {
        flex-direction: column-reverse;
    }
    .promo {
        margin: 0px 20px;
    }
    .promo-box {
        width: 95%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 60px;
    }
    .promo-box input {
        border: none;
        outline: none;
        background: transparent;
        font-size: 16px;
        width: 40%;
        height: 30px;
    }
    .promo-box button {
        border: none;
        outline: none;
        width: 40%;
        height: 58px;
        font-size: 16px;
        background: black;
        color: white;
        cursor: pointer;
    }
    .cart-items-total {
        margin: 0px 20px;
    }
    .quantity {
        width: 54px;
    }
}
@media (max-width: 1000px) {
    .cartitems {
        margin: 20px;
    }
    .format-main {
        display: none;
        grid-template-columns: 0.5fr 3fr 0.5fr;
        gap: 10px;
    }
    .format {
        display: grid;
    }
    .remove-icon {
        margin: 0px 13px;
    }
    .cart-items-down {
        flex-direction: column-reverse;
    }
    .promo {
        margin: 0px 20px;
    }
    .promo-box {
        width: 95%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 60px;
    }
    .promo-box input {
        border: none;
        outline: none;
        background: transparent;
        font-size: 16px;
        width: 40%;
        height: 30px;
    }
    .promo-box button {
        border: none;
        outline: none;
        width: 40%;
        height: 58px;
        font-size: 16px;
        background: black;
        color: white;
        cursor: pointer;
    }
    .cart-items-total {
        margin: 0px 20px;
    }
    .quantity {
        width: 54px;
    }
}
@media (max-width: 500px) {
    .cartitems {
        margin: 20px;
    }
    .format-main {
        display: none;
        grid-template-columns: 0.5fr 3fr 0.5fr;
        gap: 10px;
    }
    .format {
        display: grid;
    }
    .remove-icon {
        margin: 0px 13px;
    }
    .cart-items-down {
        flex-direction: column-reverse;
    }
    .promo {
        margin: 0px 20px;
    }
    .promo-box {
        width: 95%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 60px;
    }
    .promo-box input {
        border: none;
        outline: none;
        background: transparent;
        font-size: 16px;
        width: 40%;
        height: 30px;
    }
    .promo-box button {
        border: none;
        outline: none;
        width: 40%;
        height: 58px;
        font-size: 16px;
        background: black;
        color: white;
        cursor: pointer;
    }
    .cart-items-total {
        margin: 0px 20px;
    }
    .quantity {
        width: 54px;
    }
}