.item {
    width: 100%;
    align-items: center;
    justify-content: center;
}
.item-image {
    width: 100%;
}
.item-image {
    width: 100%;
}
.item p {
    width: 100%;
    background-color: rgb(216, 215, 210);
    color:black;
    margin-top: -7px;
    font-weight: 400;
    border-bottom: 1px solid rgb(220, 85, 55);
}
.item-prices {
    width: 100%;
    display: flex;
    gap: 20px;
    background-color:rgb(216, 215, 210);
}
.item-price-new {
    color: black;
    font-size: 18px;
    font-weight: 600;
}
.item-price-old {
    color:rgb(220, 85, 55) ;
    font-size: 18px;
    font-weight: 500;
    text-decoration: line-through;
}
.item:hover {
    transform: scale(1.05);
    transition: 0.6s;
}
