.description {
    margin: 120px 170px;
}
.navigator {
    display: flex;
}
.nav-box {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    width: 171px;
    height: 70px;
    border: 1px solid rgb(220, 85, 55);
    background-color: rgb(220, 85, 55);
}
.fade {
    background: rgb(216, 215, 210);
    color: black;
}
.description {
    display: flex;
    flex-direction: column;
    gap: 25px;
    border: 1px solid rgb(220, 85, 55);
    padding: 48px;
    padding-bottom: 70px;
}
@media(max-width: 500px) {
    .description {
        margin: 10px;
    }
}