.login {
    width: 100%;
    height: 100vh;
    background: rgb(216, 215, 210);
    padding-bottom: 100px;
    padding-top: 100px;
}
.login-container {
    width: 40%;
    background: rgb(220, 85, 55);
    margin: auto;
    padding: 40px 60px;
}
.login-container h1 {
    margin: 20px 0px;
}
.login-fields {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
}
.login-fields input {
    height: 56px;
    border-radius: 8px;
    width: 90%;
    padding-left: 20px;
    border: none;
    outline: none;
    color: black;
    font-size: 18px;
}
.login-container button {
    width: 100%;
    height: 52px;
    color: rgb(216, 215, 210);
    background: black;
    margin-top: 30px;
    border: none;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
}
.login-container button:hover {
    background-color: white;
    color: rgb(220, 85, 55);
}

.login-login {
    margin-top: 20px;
    color: black;
    font-size: 18px;
    font-weight: 500;
}
.login-login span {
    color: white;
    font-weight: 600;
    cursor: pointer;
}
.login-signup span {
    color: white;
    font-weight: 600;
    cursor: pointer;
}
.agree {
    display: flex;
    align-items: center;
    margin-top: 60px;
    gap: 20px;
    color: wh;
    font-size: 16px;
    font-weight: 500;
}
.agree .checkbox {
    width: 22px;
}
.forgot-password span {
    color: white;
    font-weight: 600;
    cursor: pointer;
}
@media(max-width: 800px) {
    .login-login {
        font-size: 15px;
    }
}
@media(max-width: 500px) {
    .login-container {
        width: 80%;
        padding: 20px;
    }
    .login-fields input {
        width: 90%;
        padding-left: 20px;
    }
    .login-login {
        font-size: 15px;
    }
    .agree {
        display: flex;
        align-items: center;
        margin-top: 45px;
        gap: 20px;
        color: wh;
        font-size: 14px;
        font-weight: 400;
    }
}