.shop-category {
    padding-top: 100px;
    background-color: rgb(216, 215, 210);
    padding-bottom: 1px;
}

.shopcategory-banner {
    display: block;
    margin: 30px auto;
    width: 82%;
}
.shopcategory-indexSort {
    display: flex;
    margin: 0px 170px;
    justify-content: space-between;
    align-items: center;
}
.shopcategory-sort {
    padding: 0px 20px;
    border-radius: 40px;
    border: 1px solid #888;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.shop-category .dropdown {
    width: 40px;
}

.shopcategory-sort:hover {
    color: white;
    background-color: rgb(220, 85, 55);
}

.shopcategory-indexSort p span {
    font-weight: 600;
}
.shopcategory-products {
    margin: 20px 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 80px;
    column-gap: 20px;
}
.shopcategory-loadmore {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 150px auto;
    width: 233px;
    height: 69px;
    border-radius: 75px;
    background: #ededed;
    color: #787878;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}
.shopcategory-loadmore:hover {
    color: rgb(216, 215, 210);
    background-color: rgb(220, 85, 55);
}

@media(max-width: 500px) {
    .shopcategory-products {
        margin: 20px 10px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 60px;
        column-gap: 10px;
    }
    .shopcategory-indexSort {
        display: flex;
        margin: 0px 20px;
        justify-content: space-between;
        align-items: center;
    }
    .shopcategory-indexSort p {
        font-size: smaller;
    }
    .shopcategory-sort {
        font-size: 14px;
    }
    .shop-category .dropdown {
        width: 30px;
    }
}