.verify-email {
  height: 50vh;
  background-color: rgb(216, 215, 210);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container {
  background-color: rgb(220, 85, 55);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  height: 300px;
}
input {
  margin-bottom: 10px;
  padding-block: 15px;
  padding-inline: 50px;
  border: none;
  border-radius: 5px;
}
button {
  padding: 10px;
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 30%;
}
button:hover {
  background-color: white;
  color: rgb(220, 85, 55);
}

@media (max-width: 800px) {
  .container {
    width: 70%;
  }
}
@media (min-width: 1024px) {
  .container {
    width: 60%;
  }
}
@media (max-width: 500px) {
  .container {
    width: 80%;
    height: 300px;
  }
  input {
    padding-inline: 10px;
  }
}
