.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding-top: 100px;
    background-color: black;
}
.footer-logo {
    display: flex;
    align-items: center;
    height: 200px;
}
.footer-logo img {
    width: 100%;
}
.footer-links {
    display: flex;
    list-style: none;
    gap: 50px;
    color: rgb(216, 215, 210);
    font-size: 20px;
}
.footer-links li {
    cursor: pointer;
}
.footer-social-icon {
    display: flex;
    gap: 20px;
}
.footer-icons-container {
    padding: 10px;
    padding-bottom: 6px;
    background: rgb(220, 85, 55);
    border: 1px solid rgb(220, 85, 55);
    border-radius: 8px;
    cursor: pointer;
}
.footer-copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
    margin-bottom: 30px;
    color: rgb(216, 215, 210);
    font-size: 20px;
}
.footer-copyright hr {
    width: 80%;
    border: none;
    border-radius: 10px;
    height: 3px;
    background: rgb(220, 85, 55);
}
@media(max-width: 500px) {
    .footer-logo img{
        width: 100%;
    }
    .footer-links {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-left: -50px;
    }
    .footer-copyright {
        font-size: 14px;
    }
}